# WebSocket proxy with connection upgrade
map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
}

{{- if .SSLEnabled }}

server {
    listen 80;
    server_name {{ .ServerName }};
    return 301 https://$host$request_uri;
}
{{ end }}
server {
{{- if .SSLEnabled }}
    listen 443 ssl http2;
    ssl_certificate {{ .SSLCertPath }};
    ssl_certificate_key {{ .SSLKeyPath }};
    ssl_protocols TLSv1.2 TLSv1.3;
{{- else }}
    listen {{ .ListenPort }};
{{- end }}

    server_name {{ .ServerName }};

    location / {
        proxy_pass http://{{ .UpstreamHost }}:{{ .UpstreamPort }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        # WebSocket timeouts
        proxy_read_timeout 86400s;
        proxy_send_timeout 86400s;
    }
}
